@page "/"
@using CodleWeb.Components.Elements
@using CodleWeb.Services
@using CodleWeb.Components.Game
@rendermode InteractiveServer
@inject IGameSessionService GameSessionService

<PageTitle>Home</PageTitle>

<div class="Codle" @ref="CodleResetFix" @onkeydown="OnPhysicalKeyboardClick" tabindex="0">
    <TextBlock 
      Message="@codle.Message"
      GameOver="@codle.GameOver"
      CodleWordExplain="@codle.CodleWordExplain" />
    <GameGrid Grid="@_board.Grid" GridStyles="@_board.GridStyles" />
    <RestartButton 
      Codle="@codle"
      Board="@_board"
      KeyboardStyle="@VisibleKeyboardStyle"
      DidPlayerWin="@DidPlayerWin"
      FinishedGameFair="@FinishedGameFair"
      UnfinishedRestartCount="@UnfinishedRestartCount"
      FocusAction="async () => await CodleResetFix.FocusAsync()"
      IncrementRestart="async () => await GameSessionService.IncrementRestartCountAsync()"
      GetUnfinishedRestart="async () => await GameSessionService.GetUnfinishedRestartCountAsync()"
      StateHasChangedCallback="() => { StateHasChanged(); return Task.CompletedTask; }"
      SetIsRestartBlocked="(val) => { IsRestartBlocked = val; StateHasChanged(); return Task.CompletedTask; }"
      Disabled="@IsRestartBlocked" />
    <VisibleKeyboard 
      TopRow="@TopRowVisibleKeyboard"
      MiddleRow="@MiddleRowVisibleKeyboard"
      BottomRow="@BottomRowVisibleKeyboard"
      OnKeyClick="OnVisibleKeyboardClick"
      KeyboardStyle="@VisibleKeyboardStyle" />
</div>