@page "/"
@using CodleWeb.Components.Elements
@using CodleWeb.Services
@using CodleWeb.Components.Game
@rendermode InteractiveServer
@inject IGameSessionService GameSessionService

<PageTitle>Home</PageTitle>

<div class="Codle" @ref="CodleResetFix" @onkeydown="OnPhysicalKeyboardClick" tabindex="0">
    <TextBlock 
      Message="@codle.Message"
      GameOver="@codle.GameOver"
      CodleWordExplain="@codle.CodleWordExplain" />
    <GameGrid Grid="@_board.Grid" GridStyles="@_board.GridStyles" />
    <RestartButton 
      OnClick="RestartGame"
      Disabled="@IsRestartBlocked"/>
    <VisibleKeyboard 
      TopRow="@TopRowVisibleKeyboard"
      MiddleRow="@MiddleRowVisibleKeyboard"
      BottomRow="@BottomRowVisibleKeyboard"
      OnKeyClick="OnVisibleKeyboardClick"
      KeyboardStyle="@VisibleKeyboardStyle" />
</div>