@page "/"
@using CodleWeb.Components.Elements
@using CodleWeb.Services
@rendermode InteractiveServer
@inject IGameSessionService GameSessionService

<PageTitle>Home</PageTitle>

<div class="Codle" @ref="CodleResetFix" @onkeydown="OnPhysicalKeyboardClick" tabindex="0">
    <TextBlock 
      Message="@codle.Message"
      GameOver="@codle.GameOver"
      CodleWordExplain="@codle.CodleWordExplain" />
    <GameGrid Grid="@grid" GridStyles="@gridStyles" />
    <RestartButton 
      OnClick="RestartGame"
      Disabled="@IsRestartBlocked"/>
    <VisibleKeyboard 
      TopRow="@TopRowVisibleKeyboard"
      MiddleRow="@MiddleRowVisibleKeyboard"
      BottomRow="@BottomRowVisibleKeyboard"
      OnKeyClick="OnVisibleKeyboardClick"
      LetterColorChange="LetterColorChange" />
</div>